@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: #0a0a0b;
  color: white;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  /* opacity: 0.7; */
  line-height: 1.6;
  font-size: 1.4rem;
}

span,
div {
  font-size: 1.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.87rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.32rem;
}

h6 {
  font-size: 1.07rem;
}
